/* =========================================
BRAND
========================================= */

#brand {
  display: flex;
  align-items: center;
  gap: 11px;

  min-width: 0;
}

#brand-logo {
  width: 42px;
  height: 42px;

  object-fit: contain;

  border-radius: 10px;
}

#brand-name {
  display: flex;
  align-items: baseline;
  gap: 5px;

  white-space: nowrap;

  font-size: 17px;
  letter-spacing: -0.3px;
}

#brand-name strong {
  font-weight: 600;
}

#brand-name span {
  opacity: 0.55;
  font-weight: 400;
}
