#globe {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}


.partner-logos {
  position: absolute;

  bottom: 40px;
  left: 40px;

  display: flex;
  align-items: center;

  gap: 20px;

  z-index: 10;
}

.partner-logos img {
  height: 32px;
  width: auto;

  object-fit: contain;

  filter: brightness(0) invert(1);
}