#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: var(--top-bar-height);

  display: grid;
  grid-template-columns:
    1fr
    minmax(
      var(--top-bar-grid-center-min-width),
      var(--top-bar-grid-center-max-width)
    )
    1fr;

  align-items: center;

  padding: 0 var(--top-bar-horizontal-padding);

  z-index: 1000;

  border: none;
  border-bottom:
    var(--top-bar-border-width)
    solid
    var(--top-bar-border-color);

  border-radius: var(--top-bar-border-radius);

  background: var(--top-bar-background);

  box-shadow: var(--top-bar-shadow);
}

#top-actions {
  grid-column: 3;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: var(--top-actions-gap);
  padding-right: var(--top-actions-padding-right);
}