#tooltip {
  position: absolute;
  transform: translate(15%, calc(-100% + 50px));
  pointer-events: none;

  padding: 6px 12px;
  background: rgba(20, 20, 20, 0.85);
  border: 1px solid var(--border-glass);
  border-radius: var(--radius-sm);

  font-size: 12px;
  opacity: 0;
  z-index: 2000;
}